<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cocktail Heaven</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <!-- {{!-- <link rel="stylesheet" href="/css/jass.css"> --}} -->
</head>

<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="../../public/images/COCKTAIL HEAVEN logo 2.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>

      <a class="navbar-item" href="/cocktails">
        Cocktails
      </a>

  </div>

    
  <!-- {{#if logged_in}} -->
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-primary" href="/profile">
            <strong>Profile</strong>
        </a>
        <a class="button is-light" id="logout">
          Logout
        </a>
      </div>
    </div>
  </div>
  <!-- {{/if}} -->

</nav>
</header>

<img src="../../public/images/COCKTAIL HEAVEN logo.png" width = 100%>
  <main>
    <!-- {{{ body }}} -->
  </main>
  <footer>
      
  </footer>

   <!-- {{#if logged_in}} -->
  <script src="/js/logout.js"></script>
  <!-- {{/if}} -->
  
</body>

</html>
