<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cocktail Heaven</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link href=" https://cdn.jsdelivr.net/npm/@creativebulma/bulma-divider@1.1.0/dist/bulma-divider.min.css " rel="stylesheet">
</head>

<body style="background-image: url('/images/COCKTAIL\ HEAVEN\ logo.png'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; z-index:-4; height:100vh">
  <nav style="background-color: rgba(0, 0, 0, 0)" class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="/images/Cocktail Heaven Logo 2.png" width="224" height="60">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item has-text-primary has-text-weight-bold" href="/">
          Home
        </a>

        {{!-- <a class="navbar-item has-text-primary has-text-weight-bold" href="/cocktails">
          Cocktails
        </a> --}}

    </div>

  
    {{#if logged_in}}
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="/profile">
            <strong>Profile</strong>
          </a>
          <a class="button is-light" id="logout">
          Logout
          </a>
        </div>
      </div>
    </div>
    {{/if}}

  </nav>

  <main>

    <div class="columns is-centered">
  
  <div>

      {{{ body }}} 
  </div>
</div>
    
  </main>


  <footer>
      <h1 class="by legends, otherwise known as AlexCam Corporation"></h1>
  </footer>

   {{#if logged_in}}
  <script src="/js/logout.js"></script>
   
  {{/if}}
  <script src="/js/hamburger.js"></script>
</body>

</html>
